@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: 93 184 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    @apply relative h-screen text-white bg-slate-950 font-mono;
}

@layer components {
    .nav {
        @apply flex items-center justify-between bg-sky-300;
    }
    .nav-link {
        @apply flex items-center justify-center hover:bg-sky-300 hover:text-slate-500 h-10 px-4;
    }
    .widget {
        @apply bg-gradient-to-b from-sky-800 to-slate-800 p-8 rounded-2xl bg-opacity-50;
    }
    .icon {
        @apply rounded-full p-4;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
