@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: 93 184 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    @apply relative h-screen text-white bg-slate-950 font-mono;
}

@layer components {
    .nav {
        @apply flex items-center justify-between bg-sky-300;
    }
    .nav-link {
        @apply flex items-center justify-center hover:bg-sky-300 hover:text-slate-500 h-10 px-4;
    }
    .widget {
        @apply bg-gradient-to-b from-sky-900 to-slate-800 p-8 rounded md:rounded-2xl bg-opacity-50 shadow hover:bg-gradient-to-r hover:from-sky-800 hover:to-slate-800;
    }
    .widget-header {
        @apply font-bold text-slate-300 w-full uppercase text-xl border-slate-500 border-b border-r rounded-br-lg;
    }
    .icon {
        @apply rounded-full p-4;
    }
    .svg {
        @apply fill-white w-[25px];
    }
    .skill-svg {
        @apply fill-white bg-sky-800 rounded-lg w-[50px] h-[50px] p-2 shadow shrink-0;
    }
    .profile-svg {
        @apply fill-slate-900 bg-white rounded-lg w-[50px] h-[50px] p-2 shadow shrink-0;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
